html {
	height: 100%;
}
body {
	width: 100%;
	height: 100%;
	margin: 0;    
	padding: 0;
}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
}
.wrp {
	width: 960px;
	margin: 0 auto;
	position: relative;
}
.header {
	height: 150px;
	background: #B39DDB;
}
.middle {
	width: 100%;
	padding: 0 0 100px;
	position: relative;
}
.middle:after {
	display: table;
	clear: both;
	content: '';
}
.container {
	width: 100%;
	float: left;
	overflow: hidden;
}
.content {
	padding: 0 0 0 260px;
	min-height: 200px;
}
.leftcol {
	float: left;
	width: 240px;
	margin-left: -100%;
	position: relative;
	min-height: 200px;
	background: #ED6492;
}
.footer {
	margin: -100px 0 0 0;
	height: 100px;
	position: relative;
	background: #f7cfad;	
}
