<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Тест</title>
	<link rel="shortcut icon" href="https://i.postimg.cc/76LyDQJY/20220313-183525-02.jpg" type="image/x-icon">
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<div class="wrapper">
		<header class="header">
			<div class="wrp">
				<p>Голова</p>
			</div>
		</header>
		<div class="middle">
			<div class="wrp">
				<div class="container">
					<main class="content">
						<p>Контент</p>
					</main>
				</div>
				<aside class="leftcol">
					<p>Left</p>
				</aside>
			</div>
		</div>
	</div>
	<footer class="footer">
		<div class="wrp">
			<p>Footer</p>
		</div>
	</footer>
</body>
</html>
