<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="/assets/css/style.scss?v=">
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="Terms of Service"</a></h1>

        {% if site.logo %}
          <img src="https://media.discordapp.net/attachments/1149729963088564234/1149730131632472115/20230623_171831.png" alt="Logo" />
        {% endif %}

        <p>TentelSafety Terms of Service</p>

        <ul class="downloads">
          <li><a href="https://discord.gg/MgWt7tmEAT">Tentel Crew <strong>Discord</strong></a></li>
          <li><a href="https://t.me/TentelCrew">Tentel Crew <strong>Telegram</strong></a></li>
          <li><a href="">Go <strong>Back</strong></a></li>
        </ul>
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>Tentel Crew</p>
        {% endif %}
      </footer>
    </div>
    <script src="/assets/js/scale.fix.js"></script>
  </body>
</html>
